[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
matplotlib = "*"
opencv-python = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
sentry-sdk = "*"
python-dotenv = "*"
grpcio = "*"
grpcio-tools = "*"
mediapipe = "*"
psycopg2-binary = "*"
gensim = "*"
nltk = "*"
groq = "*"
dotenv = "*"
mlflow = "==2.14.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
